.site-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* Три колонки */
  grid-template-rows: auto auto;
  /* Две строки */
  align-items: center;
  gap: 10px;
  padding: 15px;
  /* background: #f8f9fa; */
  border-bottom: 2px solid #ddd;
}

/* Логотип */
.logo {
  grid-row: span 2;
  /* Занимает 2 строки */
  font-size: 24px;
  font-weight: bold;
}

/* Меню */
.nav-menu {
  display: flex;
  justify-content: center;
  grid-column: 2;
}

  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }

  .nav-menu a {
    text-decoration: none;
    font-size: 18px;
  }

/* Кнопка */
.user-actions {
  display: flex;
  justify-content: flex-end;
  grid-column: 3;
}

  .user-actions button {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

    .user-actions button:hover {
      background: #0056b3;
    }

.site-title {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
}