{{ define "canonical" }}<link rel="canonical" href="{{ .Permalink }}">{{ end }}

{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <p><time>{{ .Date.Format "2006-01-02" }}</time></p>
      {{ with .Params.image }}
      <img src="{{ . }}" alt="{{ $.Title }}" width="100%">
      {{ end }}
    </header>
    <section>
      {{ .Content }}
    </section>

    <script async src="https://telegram.org/js/telegram-widget.js?22" 
                  data-telegram-discussion="GoArturGo" 
                  data-comments-limit="5" 
                  data-dark="1"></script>

  </article>
{{ end }}
