<header class="site-header">
    <div class="logo">
        <a href="/">
            <img src="/logo.png" alt="Блог Артур Султанбеков">
        </a>
    </div>
    <nav class="nav-menu">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/articles/">Статьи</a></li>
            <li><a href="/about/">Обо мне</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <button><i class="icon-sun"></i></button>
    </div>

    <div class="site-title">
        <h1>{{ .Site.Title }}</h1>
    </div>
</header>